.files-context-menu
  position: absolute
  background: #fff
  outline: 1px solid $mainColor
  // border-left: none
  max-height: 150px
  width: 350px
  left: 50px
  z-index: 1000
  padding: 0 10px
  overflow-y: scroll
  overflow-x: hidden
  text-overflow: ellipsis
  &.active
    left: 250px
  &__list
    .icon-text
      padding: 8px 0
      border-top: 1px solid $mainColor
      &:first-child
        border-top: 0
  .icon-text
    .irow
      div
        width: 250px
        text-overflow: ellipsis
        overflow: hidden
      .iicon
        cursor: pointer