.rounded-initials
  background-color: $mainColor
  border-radius: 50%
  width: 30px
  height: 30px
  position: relative
  span
    color: white
    position: absolute
    top: 50%
    left: 50%
    font-size: 20px
    transform: translate(-50%, -50%)