@font-face {
  font-family: 'NotoSans';
  src: url('../fonts/NotoSans/notosansjp-regular-webfont.woff2') format('woff2');
  src: url('../fonts/NotoSans/notosansjp-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}